@media (max-width : 1200px)
	body
		.header-container, .container
			width: 100%

@media (max-width: 1100px)
	.features
		ul li
			width: 49%
			max-width: 400px

@media (max-width: 770px)
	.features
		ul li
			width: 100%

			p
				height: auto

@media (max-width: 580px)
	header
		.button
			display: block
			margin: 0 auto
			margin-bottom: 15px

			&:last-child
				margin: 0 auto

