*
	margin: 0
	padding: 0

h1, h2, h3, h4
	font-weight: bold

html, body
	height: 100%

body
	background-color: #EFEFEF
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif

.header-container, .container
	width: 1200px
	margin: 0 auto
	text-align: center

.container
	background-color: white
	background-color: #fff
	border: 1px solid #C3C3C3
	border-top: 0

header
	background-color: #e07506
	color: white
	border-bottom: 1px solid #8C4905
	border-top: 1px solid #8C4905

h1
	padding-top: 120px
	font-size: 50px

h2
	padding: 40px
	padding-top: 30px
	padding-bottom: 50px
	font-size: 22px

.button-group
	padding: 60px
	padding-top: 0

.button
	color: #2B2B2B
	background-color: #F5F5F5
	text-decoration: none
	padding: 20px
	border: 1px solid #443302
	margin-right: 15px
	border-radius: 9px
	opacity: .9
	outline: none

	&:hover
		opacity: 1

	&:last-child
		margin-right: 0

	i
		font-size: 22px
		position: relative
		top: 3px
		margin-right: 3px

.imgshadow
	box-shadow: 0 0 30px rgba(0,0,0,.5)

.overview
	.container
		padding-bottom: 50px

	ul
		list-style: none

	img
		position: absolute
		top: 35px

	.description
		display: inline-block
		width: 470px
		position: absolute
		top: 85px
		line-height: 1.5

	h3
		font-size: 25px
		padding-bottom: 25px

	p
		color: #424242

	li
		position: relative
		height: 450px

		+ li
			margin-top: 20px

		&:nth-child(2n + 1)
			img
				left: 35px

			.description
				right: 35px

		&:nth-child(2n)
			img
				right: 35px

			.description
				left: 35px

.features
	.container
		margin-bottom: 30px

	h2
		font-size: 40px
		padding-top: 70px
		padding-bottom: 15px

	h3
		font-size: 19px
		color: #484848

	ul
		list-style: none
		padding: 30px 50px

		li
			display: inline-block
			box-sizing: border-box
			width: 33%
			padding: 25px
			line-height: 1.5
			overflow: hidden

	h4
		font-size: 18px
		padding-bottom: 5px

	p
		height: 70px
		color: #353535

	a
		color: #108CCC
		text-decoration: none

		&:hover
			text-decoration: underline

.shortcut
	color: #505050
	background-color: #E0E0E0
	padding: 3px 5px
	border-radius: 4px
	font-family: monospace
	border: 1px solid #8E8E8E
	border-bottom-width: 3px
