* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
}
html,
body {
  height: 100%;
}
body {
  background-color: #efefef;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}
.header-container,
.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.container {
  background-color: #fff;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  border-top: 0;
}
header {
  box-shadow: inset 0 0 70px rgba(0,0,0,0.1);
  background-color: #d26f08;
  background-image: linear-gradient(to top, #c1670a, #e07506);
  color: #fff;
  border-bottom: 1px solid #8c4905;
  border-top: 1px solid #8c4905;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  -webkit-font-smoothing: antialiased;
}
header p + p {
  margin-top: 15px;
}
h1 {
  padding-top: 100px;
  font-size: 50px;
}
h2 {
  padding: 40px;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 22px;
}
.button-group {
  padding: 60px;
  padding-top: 0;
}
.button {
  color: #2b2b2b;
  background-color: #f5f5f5;
  background-image: linear-gradient(to top, #d2d2d2, #f5f5f5);
  text-decoration: none;
  padding: 20px;
  border: 1px solid #9e5406;
  margin-right: 15px;
  border-radius: 9px;
  opacity: 0.9;
  outline: none;
  text-shadow: none;
}
.button:hover {
  opacity: 1;
}
.button:active {
  position: relative;
  top: 1px;
}
.button:last-child {
  margin-right: 0;
}
.button i {
  font-size: 22px;
  position: relative;
  top: 3px;
  margin-right: 3px;
}
.imgshadow {
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.overview .container {
  padding-bottom: 50px;
}
.overview ul {
  list-style: none;
}
.overview img {
  position: absolute;
  top: 35px;
}
.overview .description {
  display: inline-block;
  width: 470px;
  position: absolute;
  top: 85px;
  line-height: 1.5;
}
.overview h3 {
  font-size: 25px;
  padding-bottom: 25px;
}
.overview p {
  color: #424242;
}
.overview li {
  position: relative;
  height: 450px;
}
.overview li + li {
  margin-top: 20px;
}
.overview li:nth-child(2n + 1) img {
  left: 35px;
}
.overview li:nth-child(2n + 1) .description {
  right: 35px;
}
.overview li:nth-child(2n) img {
  right: 35px;
}
.overview li:nth-child(2n) .description {
  left: 35px;
}
.features .container {
  margin-bottom: 30px;
}
.features h2 {
  font-size: 40px;
  padding-top: 70px;
  padding-bottom: 15px;
}
.features h3 {
  font-size: 19px;
  color: #484848;
}
.features ul {
  list-style: none;
  padding: 30px 50px;
}
.features ul li {
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  padding: 25px;
  line-height: 1.5;
  overflow: hidden;
}
.features h4 {
  font-size: 18px;
  padding-bottom: 5px;
}
.features p {
  height: 70px;
  color: #353535;
}
.features a {
  color: #108ccc;
  text-decoration: none;
  outline: none;
}
.features a:hover {
  text-decoration: underline;
}
.shortcut {
  color: #505050;
  background-color: #e0e0e0;
  padding: 3px 5px;
  border-radius: 4px;
  font-family: monospace;
  border: 1px solid #8e8e8e;
  border-bottom-width: 3px;
}
