.about
	position: relative
	background-color: #EA8F32
	color: white
	padding: 6px 13px
	cursor: n-resize

.aboutItem
	display: block
	width: calc(100% - 25px)
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

.aboutChildren
	display: none
	margin-left: 5px
	font-size: 13px

.username
	font-weight: bold
	margin-right: 5px
	font-size: 14px
	cursor: pointer

.isOP
	display: inline-block
	margin-right: 7px
	background-color: white
	color: #E2970C
	padding: 3px
	font-size: 13px
	border-radius: 4px
	cursor: default

.time
	font-size: 13px

.actions
	position: absolute
	right: 10px
	font-size: 12px
	top: 9px
	opacity: 0
	transition: opacity ease-out .2s

	i
		cursor: pointer

	i + i
		margin-left: 7px

.contentWrapper:hover
	.actions
		opacity: 1

.content
	margin-bottom: 10px
	border: 1px solid rgba(0,0,0,.2)
	border-top: 0
	word-wrap: break-word
	padding: 5px

.deletedContent
	font-style: italic
	padding: 5px
	font-size: 14px

.children
	margin-left: 20px

.folded
	.about
		cursor: s-resize
		margin-bottom: 10px

	.aboutChildren
		display: inline-block

	.content, .children
		display: none

p
	padding: 5px

a
	text-decoration: none
	color: #1951FF

pre
	word-wrap: break-word
	overflow: scroll
