.content
	margin-bottom: 10px

.about
	background-color: #EA8F32
	color: white
	padding: 5px

.username
	font-weight: bold
	margin-right: 5px
	font-size: 14px

.time
	font-size: 13px

.content
	border: 1px solid rgba(0,0,0,.2)
	border-top: 0

.children
	margin-left: 20px

p
	padding: 5px

a
	text-decoration: none
	color: #1951FF
