.options
	position: absolute
	right: 0
	top: 9px
	font-size: 15px

.option
	margin-right: 5px
	display: inline-block
	padding: 3px
	border-radius: 5px
	cursor: pointer

.selected
	background-color: rgba(0, 0, 0, 0.62)
