.options
	position: absolute
	right: 0
	top: 9px
	font-size: 15px

.option
	margin-right: 5px
	display: inline-block
	padding: 3px
	border-radius: 5px
	cursor: pointer
	transition: opacity .5s ease-out
	color: white
	text-decoration: none

	&:hover
		background-color: rgba(0,0,0,0.3)

.selected
	background-color: rgba(0, 0, 0, 0.62)

	&:hover
		background-color: @background-color

.selfPost
	.both, .link
		opacity: .5
		cursor: default

		&:hover
			background-color: transparent
