.header
	padding: 20px
	text-align: center
	font-size: 25px

.list
	list-style: none

	li
		padding: 10px

.char
	padding: 0 5px
	margin-right: 10px
	border-radius: 6px
	background-color: grey
	color: white
	font-family: monospace
