.hamburgerContainer
	border: 0
	outline: none
	position: absolute
	left: 10px
	top: 9px
	height: 23px
	width: 25px
	background: transparent
	cursor: pointer

.hamburger, .hamburger:before, .hamburger:after
	width: 25px
	height: 4px
	background-color: rgba(0, 0, 0, 0.7)
	border: 0
	border-radius: 2px

.hamburger
	position: absolute
	top: 10px
	left: 0
	cursor: pointer
	transition: width .15s ease-out

	&:before, &:after
		content: ''
		position: relative
		display: block
		transition: transform .5s ease-out, top .5s ease-out

	&:before
		top: -8px

	&:after
		top: 4px

.open
	.hamburger
		width: 0

		&:before
			transform: rotate(-45deg);
			top: 0

		&:after
			transform: rotate(45deg);
			top: -4px
