.chooser
	opacity: 0
	pointer-events: none
	position: absolute
	left: 0
	top: -50px
	z-index: 50
	width: 100%
	background-color: #271E15
	color: white
	transition: opacity .3s ease-out, top .3s ease-out

	&.open
		opacity: 1
		top: 41px
		pointer-events: all

	.option
		padding: 10px
		border-bottom: 1px solid rgba(255,255,255,.15)
		cursor: pointer

		&:hover
			background-color: darken(@background-color, 10%)
