.storyItem
	position: relative
	padding: 10px
	padding-right: 44px
	cursor: pointer
	border-bottom: 1px solid rgba(0,0,0,.2)

.selected
	background-color: #FFD199

.selfPost
	.domain
		display: none

	.commentCount
		top: 27px

.commentCount
	position: absolute
	right: 0
	padding: 0 10px
	font-weight: bold
	top: 36px
	width: 30px
	text-align: center

.title, .domain, .details
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
	padding: 3px 0

.title
	font-weight: bold

.domain
	noop: yes

.details
	noop: yes

