.container
	position: absolute
	top: 8px
	right: 10px
	width: 109px
	padding-left: 50px
	font-size: 14px
	transition: background-color 1s ease-out
	background-image: linear-gradient(to right, rgba(224,117,6,0.39) 0%,rgba(224,117,6,0.46) 3%,rgba(224,117,6,0.69) 13%,rgba(224,117,6,1) 26%)

	i + i
		margin-left: 0px

	i
		cursor: pointer
		padding: 7px

		&:hover
			background-color: rgba(0,0,0,.2)
			border-radius: 5px
