.listContainer
	position: absolute
	width: 400px
	height: 100%

	&.nothingChosen
		width: 100%

.storyList
	margin-top: 41px
	height: calc(100% - 41px)
	overflow: scroll
	border-right: 1px solid rgba(0,0,0,.2)
