.commentContainer
	position: absolute
	right: 0
	height: 100%
	width: calc((100% - 401px) / 2)
	overflow: scroll
	border-left: 1px solid rgba(0,0,0,.2)
	padding: 10px
	padding-top: 0
	box-sizing: border-box

.commentList
	margin-top: 55px
