.commentContainer
	position: absolute
	right: 0
	height: 100%
	overflow: scroll
	padding: 10px
	padding-top: 0
	box-sizing: border-box

.commentList
	margin-top: 55px

.pseudoTextarea
	border: 1px solid grey
	padding: 5px
	border-radius: 5px
	margin-bottom: 10px
	color: grey
	background: #F3F2F2
	cursor: text
