.websiteContainer
	position: absolute
	left: 400px
	height: 100%
	overflow: hidden

.hidden
	.websiteContainer
		width: 0

	.header
		display: none

.webviewContainer
	margin-top: 41px
	height: calc(100% - 41px)

	webview
		height: 100%

.header
	padding-bottom: 5px

.title
	display: inline-block
	width: calc(100% - 100px)
	height: 22px
	overflow: hidden
	text-overflow: ellipsis

.navigation
	position: absolute
	left: 10px
	top: 6px
	font-size: 25px

	i:first-child
		margin-right: 5px

	i
		cursor: pointer

		&:hover
			color: darken(white, 5%)

	.disabledNavigation
		cursor: default
		pointer-events: none
		opacity: .5

.loading
	font-size: 17px
	margin-left: 15px
	margin-right: 15px
	position: relative
	top: -5px
	transition: opacity .3s ease-out

.notLoading
	opacity: 0
