*
	padding: 0
	margin: 0
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif

body
	height: 100%
	overflow: hidden

.header
	position: fixed
	z-index: 100
	width: inherit
	box-sizing: border-box
	font-size: 18px
	padding: 10px
	color: white
	background-color: #E07506
	text-align: center
	white-space: pre
	overflow: hidden
	text-overflow: ellipsis

.storyHeader
	border-right: 1px solid rgba(0,0,0,.2)

.commentHeader
	right: 0
